mixin breadcrumbs(links)
  +b('ul')&attributes(attributes).breadcrumbs
    each link in links
      if (link.url)
        +e.item
          +e.link(href="#{link.url}") #{link.title}
      else
        +e.item
          +e('span').span #{link.title}
