mixin countries-list
  //- Table helper
  mixin td(title, iconName)
    td
      a(href="#").link
        i(class="icon icon_set_countries icon_name_#{iconName}")
        = title
        
  table.countries-list
    tbody
      tr
        +td("Абхазия", "c11")
        +td("Венгрия", "c12")
        +td("Египет", "c13")
        +td("Испания", "c24")
        +td("Китай", "c15")
        +td("Мальдивы", "c36")
        +td("Оман", "c17")
        +td("Сингапур", "c37")
        +td("Турция", "c38")
        +td("Черногория", "c39")
      tr
        +td("Австрия", "c21")
        +td("Германия", "c32")
        +td("Израиль", "c23")
        +td("Италия", "c34")
        +td("Круизы по России", "c35")
        +td("Морские круизы", "c25")
        +td("Португалия", "c1g")
        +td("Словакия", "c2g")
        +td("Узбекистан", "c2i")
        +td("Чехия", "c49")
      tr
        +td("Андорра", "c31")
        +td("Греция", "c42")
        +td("Индонезия", "c43")
        +td("Казахстан", "c1i")
        +td("Маврикий", "c16")
        +td("Нидерланды", "c1h")
        +td("Россия", "c27")
        +td("Словения", "c47")
        +td("Франция", "c19")
        +td("Шри Ланка", "c2f")
      tr
        +td("Болгария", "c41")
        +td("Грузия", "c4h")
        +td("Иордания", "c14")
        +td("Кипр", "c44")
        +td("Малайзия", "c26")
        +td("ОАЭ", "c46")
        +td("Сейшелы", "c3g")
        +td("Таиланд", "c18")
        +td("Хорватия", "c29")
        +td("Детский отдых", "c4f")
