mixin page-footer
  +b('footer').page-footer
    .container
      +b.achieves
        +e('img').item(src="{{IMG_PATH}}/achieve1.png")
        +e('img').item(src="{{IMG_PATH}}/achieve2.png")
        
      +b.info
        p
          span= "© 2005-2011 ООО «Море Трэвел», реестровый номер "
          a(href="http://russiatourism.ru/operators/show.php?id=7663250c-5eed-c92c-7c0d-54b36e32979f" target="_blank")= "МТ1 013907"
        p
          span= "ООО «Море Трэвел. Русский клуб», реестровый номер "
          a(href="http://russiatourism.ru/operators/show.php?id=7e1b8923-d500-8448-f99a-54b36be71c13" target="_blank")= "ВНТ 003405"
