mixin page-nav(menuLinks)
  +b('nav').page-nav
  
    mixin loopNav(branch)
      if (branch.length)
        +e('ul').child
          each val in branch
            +e('li').child-item
              +e('a').child-link(href="#{val.url}") #{val.title}
      
    +e('ul').root
      each val in menuLinks
        if val.name == pageName
          +e('li').root-item._active
            +e('a').root-link(href="#{val.url}") #{val.title}
            +loopNav(val.sublings)
        else
          +e('li').root-item
            +e('a').root-link(href="#{val.url}") #{val.title}
            +loopNav(val.sublings)
