mixin page-subnav
  +b.page-subnav
    +e.user
      +b('ul').link-group
        +e.item
          +b('i').icon._name_enter
          a(href="#").link-dashed= "Вход"
        +e.item
          a(href="#").link= "Регистрация"
        
    +e.social
      .uptolike-buttons(data-background-alpha="0.0" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-size="12" data-top-button="false" data-share-counter-type="disable" data-share-style="1" data-mode="follow" data-follow-vk="1" data-like-text-enable="false" data-follow-tw="1" data-mobile-view="true" data-icon-color="#ffffff" data-orientation="horizontal" data-text-color="#000000" data-share-shape="round-rectangle" data-sn-ids="fb.vk.tw." data-share-size="30" data-background-color="#ffffff" data-preview-mobile="false" data-mobile-sn-ids="fb.vk.tw.wh.ok.gp." data-pid="1394413" data-counter-background-alpha="1.0" data-following-enable="false" data-exclude-show-more="false" data-selection-enable="false" data-follow-fb="1")
    
    +e.city
      +b.city-select
        +e('span').span= "Мой город: "
        +e.control
          //- TODO: Bootstrap example
          +b.dropdown
            //- TODO: Dont use id
            a(href="#" data-toggle="dropdown")#js-city-drop.link-dashed
              = "Екатеринбург"
            ul(class="dropdown-menu" aria-labelledby="js-city-drop")#city_menu
              li: a(href="#")= "Екатеринбург"
              li: a(href="#")= "Краснодар"
              li: a(href="#")= "Нижний Новгород"
              li: a(href="#")= "Пермь"
              li: a(href="#")= "Ростов-на-Дону"
              li: a(href="#")= "Тюмень"
              li: a(href="#")= "Челябинск"
      
    +e.phone
      +b.phone
        +e('span').code= "(343)"
        +e('span').num= "3-787-333"
      
    +e.buy
      a(href="#").link= "Где купить"
