include ./page-nav.jade
include ./page-subnav.jade
include ./countries-list.jade

mixin page-header
  +b('header').page-header
    +e.logo
      +b('a')(href="/").logo
        +e('img')(src="{{IMG_PATH}}/logo.png").image

    +e.subnav
      +page-subnav()

    +e.nav
      +page-nav(mainMenu)
      
    +e.countries
      +countries-list()
