.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;

    &:before {
      content: '/';
      display: inline-block;
      margin: 0 8px;
    }

    &:first-child:before {
      display: none;
    }
  }

  &__link {
    &:extend(a.link all);
  }
}
