.countries-list {
  position: relative;
  // TODO: Z-index hack
  z-index: 1;
  width: 100%;
  border-top: 1px solid #d2d2d2;
  white-space: nowrap;
  font-size: 0.767em;
  margin: 0;

  // TODO: Tag hack !!!
  td {
    border: none;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;

    &:nth-child(odd) {
      background: #f4f4f4;
    }
  }

  // TODO: Tag hack !!!
  a {
    position: relative;

    .icon {
      position: absolute;
      left: -20px;
      top: 3px;
    }
  }

}
