.page-footer {
  padding: 20px 0;

  // Sticky footer (from bootstrap example)
  position: absolute;
  bottom: 0;
  width: 100%;

  & .achieves {
    display: inline-block;
  }

  & .info {
    display: inline-block;

    // TODO: Tag hack
    p {
      margin: 0;
    }
  }
}
