.page-nav {
  // TODO: Z-index hack
  position: relative;
  z-index: 2;
}

.page-nav__root {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 40px;

  &-item {
    position: relative;
    display: table-cell;
    text-align: center;
    border-right: 1px solid #fff;
    line-height: 40px;
    background: #0e95c4;
    background: linear-gradient(to bottom, #0e95c4 0%, #087db5 59%, #097eb6 62%, #0570ad 100%);

    &:hover {
      background: #166ea1;
      text-decoration: underline;

      // Show sub-nav on root-item hover
      .page-nav__child {
        display: block;
      }
    }

    &_active {
      background: #e9e9e9;
      background: linear-gradient(to bottom, #e9e9e9 0%,#e9e9e9 49%,#e7e7e7 62%,#e0e0e0 79%,#d0d0d0 100%);
    }

    &:first-child {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }

    &:last-child {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-right: none;
    }
  }

  &-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }

  &-item:hover > &-link{
    color: #fff;
    text-decoration: none;
  }

  &-item_active > &-link {
    color: #0b8abd;
  }
}

.page-nav__child {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &-item {
    white-space: nowrap;
    text-align: left;
    border-top: 1px solid #73c1dd;
    border-bottom: 1px solid #0a7aaa;
    background: #0e94c4;
    display: block;
    height: auto;
    line-height: 14px;
    margin: 0;
    zoom: 1;

    &:hover {
      border-top: 1px solid #0f5781;
      border-bottom: 1px solid #0f5781;
      background: #166ea1;
    }
  }

  &-item:hover > &-link {
    text-decoration: underline;
    color: #fff;
  }

  &-link {
    display: block;
    padding: 6px 25px 6px 12px;
    color: #fff;
    text-decoration: none;
  }

  &-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
