.page-header {
  margin: 10px 0;
  position: relative;

  &__logo {
    width: 185px;
    position: absolute;
    left: 0;
    top: 15px;
  }

  &__subnav,
  &__nav {
    margin-left: 200px;
  }

  &__countries {
    margin-top: 8px;
  }
}
