.page-subnav {
  position: relative;
  min-height: 66px;

  &__user {
    position: absolute;
    left: 0;
    top: 17px;
  }

  &__city {
    position: absolute;
    left: 24%;
    top: 16px;
  }

  &__phone {
    position: absolute;
    right: 30%;
    top: 18px;
  }

  &__social {
    position: absolute;
    right: 16%;
    top: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      display: inline;
    }
  }

  &__buy {
    position: absolute;
    right: 5%;
    top: 20px;
  }
}

.city-select {

  &__span {
    display: inline-block;
    color: @color-gray;
  }

  &__control {
    display: inline-block;

    // TODO: Create new block
    & .dropdown {
      position: relative;
      // TODO: z-index hack
      z-index: 3;

      // TODO: Dont use tags
      ul {
        display: none;
        font-size: 1em;
        position: absolute;
        list-style: none;
        white-space: nowrap;

        right: 0;
        top: 27px;
        background: #f4f4f4;
        border: 1px solid #c0c0c0;
        padding: 10px;
      }

      &.open {
        // TODO: Dont use tags
        ul {
          display: block;
        }

        // TODO: Fast icon
        &:after {
          content: '';
          position: absolute;
          bottom: 8px;
          right: -12px;
          border: 3px solid transparent;
          border-bottom: 3px solid @color-link;
        }
      }

      // TODO: Fast icon
      &:after {
        content: '';
        position: absolute;
        bottom: 6px;
        right: -12px;
        border: 3px solid transparent;
        border-top: 3px solid @color-link;
      }
    }
  }

}

// TODO: Create new block
.link-group {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline;
    padding: 0 11px;
    border-right: 1px solid #d8d8d8;

    &__link {}

    &:last-child {
      border: none;
    }
  }
}

// TODO: Create new block
.phone {
  color: @color-gray;

  &__code {
    font-size: 0.8em;
    margin-right: 5px;
  }

  &__num {
    font-size: 1.4em;
  }
}
