// Main bundle
// --------------------------------------------------

// Core variables and components
@import "variables.less";
@import "components.less";

// Common bundles
@import "blocks.less";
@import "pages.less";

// Disable responsive
.container {
  min-width: @screen-sm-max !important;
}

// For sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 110px;
}

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
