extends ./root
include ../blocks/page-header.jade
include ../blocks/page-footer.jade

block body

  block options
    - var pageName;

  .container
    // header {{{
    +page-header
    // End header }}}
    
    .banner(style="margin: 8px 0;")
      img(src="{{IMG_PATH}}/banner-tmp.png")

    // content {{{
    .page-content
      block page-content
    // End content }}}

  // footer {{{
  +page-footer
  // End footer }}}
