doctype html

// Include global bem mixins
include ../bemto

block options
  - var pageName = "";

html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Море Трэвэл: | #{pageName}
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    //- Place favicon.ico in the root directory

    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/vendor/modernizr.min.js")


  body(class="page page__" + pageName)
    <!--[if lt IE 8]>
    <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    // body {{{
    block body
    // End body }}}

    script(src="//ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    script(src="js/vendor/dropdown.js")
    script(src="js/main.js")

    // UpToLike social buttons.
    script.
      (function(w,doc) {
      if (!w.__utlWdgt ) {
      w.__utlWdgt = true;
      var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
      s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
      var h=d[g]('body')[0];
      h.appendChild(s);
      }})(window,document);
      
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
