extends ../layouts/common
include ../blocks/breadcrumbs

block options
  - var pageName = "about";

block page-content
  +breadcrumbs([
    { url: "#", title: "Главная" },
    { url: "", title: "О нас" }
  ]).content-breadcrumbs
  
  h1.content-title= "О нас"
  
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim    | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea    | commodo consequat.      p    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum    | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non     | proident, sunt in culpa qui officia deserunt mollit anim id est laborum      .row    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"    .col-md-1= ".col-md-1"      .row    .col-md-8= ".col-md-8"    .col-md-4= ".col-md-4"      .row    .col-md-4= ".col-md-4"    .col-md-4= ".col-md-4"    .col-md-4= ".col-md-4"      .row    .col-md-6= ".col-md-6"    .col-md-6= ".col-md-6"