extends ../layouts/common
include ../blocks/breadcrumbs

block options
  - var pageName = "login";

block page-content
  +breadcrumbs([
    { url: "#", title: "Главная" },
    { url: "", title: "Вход в систему" }
  ]).content-breadcrumbs
  
  h1.content-title= "Вход в систему"
  
  +b.login-form
    form.form-horizontal
      .form-group
        label(for="inputEmail").col-sm-2.control-label= "Почта"
        .col-sm-10
          input(type="email" placeholder="Почта")#inputEmail.form-control
        
      .form-group
        label(for="inputPassword").col-sm-2.control-label= "Пароль"
        .col-sm-10
          input(type="password" placeholder="Password")#inputPassword.form-control
      
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            label
              input(type="checkbox")
              = "Запомнить меня"
      
      .form-group
        .col-sm-offset-2.col-sm-10
          button(type="submit").btn.btn-alpha= "Войти"
          +e('span').span-and= "или"
          a(href="#").link= "Зарегистрироваться"
