i.icon {
  display: inline-block;
}

// Countrie flag icons
.icon_set_countries {
  width: 17px;
  height: 12px;
  background-image: url(/img/countries-sprite.png);
  background-repeat: no-repeat;

  &.icon_name_ {
    &c11 { background-position: 0 0; }
    &c12 { background-position: -17px 0; }
    &c13 { background-position: -34px 0; }
    &c14 { background-position: -51px 0; }
    &c15 { background-position: -68px 0; }
    &c16 { background-position: -85px 0; }
    &c17 { background-position: -102px 0; }
    &c18 { background-position: -119px 0; }
    &c19 { background-position: -136px 0; }
    &c1f { background-position: -153px 0; }
    &c1g { background-position: -170px 0; }
    &c1h { background-position: -187px 0; }
    &c1i { background-position: -204px 0; }

    &c21 { background-position: 0 -12px; }
    &c22 { background-position: -17px -12px; }
    &c23 { background-position: -34px -12px; }
    &c24 { background-position: -51px -12px; }
    &c25 { background-position: -68px -12px; }
    &c26 { background-position: -85px -12px; }
    &c27 { background-position: -102px -12px; }
    &c28 { background-position: -119px -12px; }
    &c29 { background-position: -136px -12px; }
    &c2f { background-position: -153px -12px; }
    &c2g { background-position: -170px -12px; }
    &c2h { background-position: -187px -12px; }
    &c2i { background-position: -204px -12px; }

    &c31 { background-position: 0 -24px; }
    &c32 { background-position: -17px -24px; }
    &c33 { background-position: -34px -24px; }
    &c34 { background-position: -51px -24px; }
    &c35 { background-position: -68px -24px; }
    &c36 { background-position: -85px -24px; }
    &c37 { background-position: -102px -24px; }
    &c38 { background-position: -119px -24px; }
    &c39 { background-position: -136px -24px; }
    &c3f { background-position: -153px -24px; }
    &c3g { background-position: -170px -24px; }
    &c2h { background-position: -187px -24px; }

    &c41 { background-position: 0 -36px; }
    &c42 { background-position: -17px -36px; }
    &c43 { background-position: -34px -36px; }
    &c44 { background-position: -51px -36px; }
    &c45 { background-position: -68px -36px; }
    &c46 { background-position: -85px -36px; }
    &c47 { background-position: -102px -36px; }
    &c48 { background-position: -119px -36px; }
    &c49 { background-position: -136px -36px; }
    &c4f { background-position: -153px -36px; }
    &c4g { background-position: -170px -36px; }
    &c4h { background-position: -187px -36px; }
  }
}
